
<div class="login">



    <button class="button is-small" (click)="auth.signOut()">Sign Out</button>
    <hr>

    <button class="button" routerLink="/chats/UJrR0M10IK7VJDVCQIKF">Join Mega Chat 🎪</button>

    <hr>

    <h3>My Chats</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
      </li>
    </ul>

    <button class="button" (click)="auth.googleSignIn()">Login with Google</button>

</div>
