<p>price-screen-component works!</p>
<button (click)="onReturnToHighlightScreen()">Return to highlight screen </button>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="priceInfomation" (ngSubmit)="onPriceInfomationSubmit()">


        <label for="price">Enter price</label>
        <input
          type="number"
          id="price"
          formControlName="price"
          class="form-control">



        <label for="priceDesc">Enter price description</label>
        <input
          type="text"
          id="priceDesc"
          formControlName="priceDesc"
          class="form-control">



        <hr>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

