<div class="container-fluid">
  <div class="row " style="height: 50px">

  </div>
  <div class="row " style="height: 50px">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" >Add a price card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >See current price setups</a>
      </li>

    </ul>
  </div >
  <div class="row " style="height: 50px">

  </div>
  <div class="row">
    <h1>Progress:</h1>
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="row " style="height: 400px">
    <div class="row" style="height: 12px">

    </div>
      <div class="row justify-content-around">
        <div class="col-6 text-center">
          <h3>What type of commission is this?</h3>
        </div>
      </div>
    <div class="row testBorder" style="height: 20px">

    </div>
  <div class="row justify-content-center ">
    <div class="col-6 align-self-center testBorder text-center">

      <button type="button" class="btn btn-outline-secondary">Service based</button>
      <div class="divider">
      </div>
      <button type="button" class="btn btn-outline-secondary">Product based</button>


    </div>
  </div>


</div>
