<!--<p>chat-v3 works!</p>-->

<!--<h3>Insert commission description</h3>-->
<!--<textarea  #commissionDesc type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>-->

<!--<button type="button" class="btn btn-outline-secondary" (click)="chatterboxService.saveMessage(commissionDesc.value)" >Send A CHAT!</button>-->
<!--<button (click)="chatterboxService.loadMessages()">-->
<!--  test get message-->
<!--</button>-->
<!--<div *ngIf="chatterboxService.toDisplay" >-->
<!--  <div  *ngFor="let message of chatterboxService?.toDisplay ; let i = index">-->
<!--    {{message}}-->
<!--  </div>-->
<!--</div>-->
<app-header-v2></app-header-v2>

<div class="container-fluid" style="">

  <div class="row " style="height: 110px; ">

    </div>
  <div class="row  "  style="height: 850px;    ">

<!--    todo: Row elements need to be centered on a big screen-->
    <div class="row" >
      <div class="col-md-2  "     id="fadeColOnSmallScreen"            >

      </div>

      <div class="col-12 "   style="height: 50px">
        <div class="row  justify-content-between">
          <div class="col-4">
            <button type="button"  class="btn btn-outline-secondary">
              Return:
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>

            </button>
          </div>
          <div class="col-4  ">
            Commission Id:12345 {{this.routeId}}

          </div>
        </div>
      </div>
      <div class="col-md-2  "      id="fadeColOnSmallScreen"          >

      </div>


    </div>



      <div class="col-md-2 " id="fadeColOnSmallScreen">

      </div>
    <div class="col-md-8  justify-content-around ">
        <div class="row  h-75">
          <div class="col-md-12 " style=" max-height: 600px; overflow-y: auto; overflow-x:hidden  ">
            <div *ngIf="chatterboxService.toDisplay" >


              <div  tabindex="1" #commentDiv style=""  *ngFor="let message of chatterboxService?.toDisplay ; let i = index" >
                <div *ngIf="message['name'] === this.authServiceV3.userData.uid" class="row justify-content-end " style="height: 60px; width: 90%">
                  <div  class="col-md-4 chatBoxUserPov">
                    You:
                    <br>

                    Text: {{message['text'] }}
                    </div>
                  <div class="row" style="height: 33px">

                  </div>
                </div>

                <div *ngIf="message['name'] !== this.authServiceV3.userData.uid" class="row justify-content-start" style="height: 60px;  width: 90% ">

                  <div  class="col-md-4 chatBoxOtherUser justify-content-end">
                   NAME: {{message['name'] }}
                    <br>

                    Text: {{message['text'] }}
                  </div>

                </div>
                <div class="row" style="height: 33px">

                </div>

              </div>


            </div>
          </div>
        </div>
        <div class="row  h-25">
          <hr style="
          clear: both;
    visibility: hidden;">
            <div class="col-9">
              <textarea  #commissionDesc placeholder="Send a message..." type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>


            </div>
          <div class="col-2  " >

            <button type="button" class="btn btn-outline-secondary " (click)="chatterboxService.saveMessage(commissionDesc.value)" >Send A CHAT!</button>

          </div>
         </div>
    </div>
    <div class="col-md-2 " id="fadeColOnSmallScreen">

    </div>


  </div>
</div>

