<div class="container-fluid " style=" background-color: #5bc0de">
  <div class="row justify-content-around">
    <div class="col-5">
      <button type="button" class="btn btn-primary btn-lg" (click)="onSignUpMode()">Create a development account</button>

    </div>
    <div class="col-5">
      <button type="button" class="btn btn-primary btn-lg" (click)="onLogInMode()">LogIn to a development account</button>

    </div>
  </div>

</div>
<!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">-->
<!--  <div style="justify-content: center; text-align: center;">-->


<!--    <div class="divider"></div>-->
<!--  </div>-->
<!--</nav>-->
