<body class="d-flex h-100 text-center bg-light text-white  " >
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column  " >

  <div class="row featurette justify-content-around">

<!--    <div class="col-md-12 order-md-1">-->
<!--      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="1000x500" src="{{foundHighlightCards[0].headlineImageURL}}" data-holder-rendered="true" style="width: 1000px; height: 500px;">-->
<!--    </div>-->


<!--    <div class="row justify-content-around">-->
<!--      <div class="col-md-6 order-md-2 ">-->
<!--        <h2 class="text-center" style="color: black">{{foundHighlightCards[0].headlineTitle}}</h2>-->
<!--        <p class="text-center" style="color: black">{{foundHighlightCards[0].headlineDescription}}</p>-->
<!--      </div>-->
<!--    </div>-->
    <ngb-carousel *ngIf="foundHighlightCards.length === 1">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="foundHighlightCards[0].headlineImageURL" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{foundHighlightCards[0].headlineTitle}}</h3>
          <p>{{foundHighlightCards[0].headlineDescription}}</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <ngb-carousel *ngIf="foundHighlightCards.length === 2">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="foundHighlightCards[0].headlineImageURL" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{foundHighlightCards[0].headlineTitle}}</h3>
          <p>{{foundHighlightCards[0].headlineDescription}}</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="foundHighlightCards[1].headlineImageURL" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>{{foundHighlightCards[1].headlineTitle}}</h3>
          <p>{{foundHighlightCards[1].headlineDescription}}</p>
        </div>
      </ng-template>

    </ngb-carousel>

    <ngb-carousel *ngIf="foundHighlightCards.length === 3">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="foundHighlightCards[0].headlineImageURL" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{foundHighlightCards[0].headlineTitle}}</h3>
          <p>{{foundHighlightCards[0].headlineDescription}}</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="foundHighlightCards[1].headlineImageURL" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>{{foundHighlightCards[1].headlineTitle}}</h3>
          <p>{{foundHighlightCards[1].headlineDescription}}</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="foundHighlightCards[2].headlineImageURL" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>{{foundHighlightCards[2].headlineTitle}}</h3>
          <p>{{foundHighlightCards[2].headlineDescription}}</p>
        </div>
      </ng-template>
    </ngb-carousel>


<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[0]" alt="Random first slide">-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>First slide label</h3>-->
<!--          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[1]" alt="Random second slide">-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>Second slide label</h3>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[2]" alt="Random third slide">-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>Third slide label</h3>-->
<!--          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
<!--        </div>-->
<!--      </ng-template>-->



  </div>



</div>

</body>

<body class="d-flex h-100 text-center bg-light text-white  " >

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column  " >
    <div class="row">
      <div *ngFor="let serviceCard of foundServicePriceCards ; let i = index">
        <div class="col-10">

          <div class="card">
            <h5 class="card-header" style="color: #9143da">{{serviceCard.title}}</h5>
            <div class="card-body">
              <h5 class="card-title" style="color: #9143da">${{serviceCard.price}}</h5>
              <p class="card-text" style="color: #9143da">{{serviceCard.description}}</p>
              <button type="button" class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyServiceCentered(i)">BUY</button>

            </div>
          </div>

        </div>

      </div>
      <hr>
      <div *ngFor="let productCard of foundProductPriceCards ; let i = index">
        <div class="col-10">

          <div class="card">
            <h5 class="card-header" style="color: #9143da">{{productCard.title}}</h5>
            <div class="card-body">
              <h5 class="card-title" style="color: #9143da">${{productCard.price}}</h5>
              <p class="card-text" style="color: #9143da">{{productCard.description}}</p>
              <button type="button" class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyProductCentered(i)">BUY</button>

            </div>
          </div>

        </div>

      </div>

    </div>


</div>


</body>
