<div class="row" style="height: 20px">

</div>
<div class="container " >


    <body class="d-flex h-50 text-center bg-light text-white  "  style="overflow-y: hidden">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column  " >
      <div class="row   justify-content-around">


        <div class="px-4 py-5 my-5 text-center bg-light">
          <div class="row   justify-content-start ">
            <div class="col-3  align-self-start">
              <img class="d-block mx-auto mb-4"  style="border-radius: 50%" src="https://image.shutterstock.com/z/stock-photo-insert-profile-picture-sign-absence-of-image-1294019173.jpg" alt="" width="400" height="270">

            </div>
            <div class="row  w-75 justify-content-around">
              <div class="col-6 align-self-center">
                <h3 style="color: #9143da">PROFILE NAME HERE</h3>
                <br>
                <h3 style="color: #9143da">PROFILE LINK HERE</h3>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    </body>
    <div class="row" style="height: 20px">

    </div>
    <div class="row">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" (click)="onGoToLandingPage()">LandingPage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onGoToGallery()">Gallery</a>
        </li>

      </ul>
    </div>

    <router-outlet></router-outlet>


</div>
<!--old below-->
