


<div class="row" style="height: 20px">

</div>
<div class="container testBorder" >

  <div class="row justify-content-center " style="height: 40px">
    <div class="col-4 text-center " style="font-size: 28px">
      Account Details

    </div>

  </div>
  <div class="row" STYLE="height: 10px">

  </div>
  <div class="row  justify-content-around">
    <div class="col-8 bg-light" style="min-height: 700px; border: solid black 2px; border-radius: 14px">
      <div class="row" style="height: 40px">

      </div>
      <div class="row  justify-content-around" style="min-height: 150px" >
        <div class="col-3 ">
          Current username
        </div>
        <div class="col-3 ">
          A test username
        </div>
        <div class="col-3 ">
          <button type="button" class="btn btn-outline-secondary">Change username</button>

        </div>
      </div>
      <div class="row" style="height: 40px">

      </div>
      <div class="row  justify-content-around" style="min-height: 150px" >
        <div class="col-3 ">
          Current profile pic
        </div>
        <div class="col-3 ">
          A cool image
        </div>
        <div class="col-3 ">
          <button type="button" class="btn btn-outline-secondary">Change profile Pic</button>

        </div>
      </div>
      <div class="row" style="height: 40px">

      </div>
      <div class="row  justify-content-around" style="min-height: 150px" >
        <div class="col-3 ">
          Total earned
        </div>
        <div class="col-3 ">
          $300
        </div>
        <div class="col-3 ">
          <button type="button" class="btn btn-outline-secondary">Withdraw amount</button>

        </div>
      </div>
      <div class="row" style="height: 40px">

      </div>
      <div class="row  justify-content-around" style="min-height: 150px" >
        <div class="col-3 ">
          Account type
        </div>
        <div class="col-3 ">
          Basic
        </div>
        <div class="col-3 ">
          <button type="button" class="btn btn-outline-secondary">Upgrade account</button>

        </div>
      </div>












    </div>
  </div>

</div>
