<div class="container-fluid">
  <div class="row" style="height: 30px">

  </div>
  <div class="row" style="height: 30px">
    <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Refresh</button>

  </div>

  <div class="row" style="height: 100px">

  </div>
  <div class="row" style="overflow-y: scroll; max-height: 600px" >

    <div class="row" *ngFor="let commission of stoppedCommissions ; let i = index">

      <div class="modal-content rounded-6 shadow">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title">{{commission.commissionUniqueId}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <p>Commission description</p>
          <p>{{commission.description}}</p>
        </div>
        <div class="modal-footer flex-column border-top-0">
          <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Accept commission</button>
          <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Reject commission</button>
          <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">More Information </button>
          <button (click)="goToChatService(commission)" type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Chat!</button>

        </div>
      </div>

    </div>


  </div>

</div>

