<div class="container-fluid" style="border-bottom: 2px solid black;  background-color: white " >
  <div class="row justify-content-end" style="min-height: 80px; ">
    <div class="col-1 " style="width: 100px;">

    </div>
    <div class="col-6 align-self-center">
      <ul class="nav nav-pills nav-fill " >
        <li class="nav-item">
          <button (click)="onCommissionTemplateScreen()" type="button" class="btn btn-outline-secondary">Commission template screen</button>
        </li>
        <li class="nav-item">
          <button (click)="onManageCommissions()" type="button" class="btn btn-outline-secondary">Manage commissions</button>
        </li>
        <li class="nav-item">
          <button (click)="onAccountDetails()" type="button" class="btn btn-outline-secondary">Account details</button>
        </li>
        <li class="nav-item">
          <button (click)="onSettings()" type="button" class="btn btn-outline-secondary">Help</button>
        </li>
      </ul>
    </div>
    <div class="col-1" style="width: 100px;">

    </div>
    <div class="col-3 align-self-center " >
      <button type="button" class="btn btn-primary btn-lg  " (click)="onLogOut()">Logout</button>
    </div>





  </div>

</div>

