<div class="header" >
  <div class="container-fluid ">
    <div class="row" style="height: 25px">

    </div>
    <div class="row justtifyAroundOnXSmallScreen " >
      <div class="col-md-4 col-sm-4 col-5 text-center  ">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <img src="http://cdn.shopify.com/s/files/1/0513/1226/3362/products/Asset2_grande.jpg?v=1619802039" class="headerLogo" >

          </li>
          <li class="nav-item">
            <p class="headerLogoText">Spotlight</p>
          </li>

        </ul>
      </div>
      <div class="col-md-1 ">

      </div>
      <div class="col-md-7 col-sm-8 col-12 align-self-end justify-content-end increaseWidthOnSmall" style="" >
        <ul class="nav justify-content-center">
          <li class="nav-item" id="fadeshow1">
            <a class="nav-link active headerLinkColor textSizeForNavElements" aria-current="page" href="#" >About Us</a>
          </li>



          <li class="nav-item" id="fadeshow2">
            <a class="nav-link headerLinkColor textSizeForNavElements" href="#" >News</a>
          </li>

          <li class="nav-item" id="fadeshow3">
            <a class="nav-link headerLinkColor textSizeForNavElements" href="#">Explore</a>
          </li>

          <li class="nav-item">
            <a class="nav-link headerLinkColor textSizeForNavElements">LogIn</a>
          </li>

          <li class="nav-item">
            <button (click)="onGoToAuthenticateScreen()" class="loginSignupButton">Sign Up</button>
          </li>
        </ul>

      </div>


    </div>
  </div>
</div>

<div class="bodyOfSite">
  <div class="container" style="">
    <div class="row" style="height: 150px">

    </div>
    <div class="row  " style="height: 100px; border: dotted purple 3px" >
        <div class="col-md-3 col-sm-2  testBorder testColorSmall testColorMedium" >

        </div>
<!--      <div class="col-md-3 testBorder">-->

<!--      </div>-->
      <div class="col-md-6 col-sm-4 testBorder testColor testColorSmall testColorMedium" >

      </div>
    </div>

  </div>

</div>
<div class="bodyOfSite">

</div>
